.section-book {
  background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  padding: 150px 30px;

  .book {
    background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 50%, transparent 50%),url(../img/nat-10.jpg);
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
    border-radius: 3px;
  }

  .content {
    width: 50%;
    padding: 60px;
  }

  .title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    color: transparent;
    background-clip: text;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }

  .input {
    margin-bottom: 20px;
    font-size: 15px;
    color:$color-grey-dark;
    padding: 15px 20px;
    border-radius: 2px;
    width: 90%;
    display: block;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  .btns {
    margin-top: 40px;
    margin-bottom: 40px; 

    .btn-radio{
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border: 5px solid $color-primary;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      left: 0;

      &:after :focus {
        content: "";
        opacity: 1;
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #55c57a;
        transition: opacity .2s;
        }
    }
    
    .text {
      margin-right: 40px;
      color: $color-grey-dark;
      position: relative;
      font-size: 19px;
      padding-left: 40px;
    }
  }
}