.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-white {
  background-color:#fff;
  color:#777;
}

.btn-colored {
  background-color: #55c57a;
  color: white;
}

.link-btn {
  color: $color-primary-dark;
  padding-left: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid $color-primary;
  border-radius: 0;
  padding-right: 0;
}