.navigation {

  .button {
    background-color:#fff;
    height: 70px;
    width: 70px;
    position: fixed;
    top: 60px;
    right: 60px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;

    .icon {
      position: relative;
      margin-top: 25px;
      // background-color: black;
      width: 30px;
      height: 2px;
      background-color:#333;
      display: inline-block;

      // dont now why it is not working?
      &::after {
        width: 30px;
        height: 2px;
        background-color:red;
        display: inline-block;
      }
    }
  }

  .navigation-expanded {
    display: none;
  }
}